#header {
	position: fixed;
	width: 100%;
	height: 9vh;
	top: 0;
	z-index: 1;
	border-bottom: #595959 0.7vh solid;
	background-color: #00ee00;
}

#logo {
	height: 7vh;
	margin: 1vh;
}

#saveIcon {
	float: right;
	height: 5vh;
	border: 0.5vh solid #595959;
	border-radius: 1vh;
	margin: 1.5vh;
}

#saveIcon:hover {
	background-color: #ffffff77;
	cursor: pointer;
}

.subPage {
	display: none;
	position: absolute;
	top: 9.7vh;
	width: 100%;
	height: 90.3vh;
	background-color: #eeeeee;
	overflow: auto;
}

.subPageButton {
	position: absolute;
	top: 0;
	width: 10vw;
	top: 4.5vh;
	border-top: 0.5vh solid #595959;
	border-left: 0.5vh solid #595959;
	border-right: 0.5vh solid #595959;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	background-color: #eeeeee;
	font-size: 1.7vh;
	text-align: center;
}

.subPageButton:hover {
	background-color: #eeeeee !important;
	cursor: pointer;
}

#info {
	padding-left: 6vw;
	padding-right: 6vw;
	box-sizing: border-box;
	text-align: center;
}

#info>h1 {
	font-size: 6vh;
	margin: 5vh;
}

#info>h2 {
	font-size: 4vh;
	text-align: left;
}

#info>p {
	font-size: 3vh;
	text-align: left;
	text-indent: 2em;
}

#info>img {
	width: 50vw;
}

#tutorials {
	cursor: move;
}

.tutorialPreview {
	display: none;
}

#tutorialPreviewMask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000055;
}

#tutorialPreviewTabMask {
	position: fixed;
	left: calc(11vh + 12vw);
	top: 4.5vh;
	z-index: 1;
	width: 10vw;
	height: 4.7vh;
	border-top: 0.5vh solid #595959;
	border-left: 0.5vh solid #595959;
	border-right: 0.5vh solid #595959;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	background-color: #00000055;
}

#tutorialPreviewContainer {
	box-sizing: border-box;
	position: fixed;
	left: calc(50% - 50vh);
	top: 20vh;
	z-index: 1;
	width: 100vh;
	height: 70vh;
	border: 1vh solid #808080;
	border-radius: 2vh;
	background-color: #eeeeee;
	cursor: default;
}

#tutorialPreviewHeader {
	box-sizing: border-box;
	position: absolute;
	left: -1vh;
	top: -1vh;
	width: calc(100% + 2vh);
	height: 6vh;
	border-left: 1vh solid #808080;
	border-right: 1vh solid #808080;
	border-top: 1vh solid #808080;
	border-top-left-radius: 2vh;
	border-top-right-radius: 2vh;
	border-bottom: 0.2vh solid #808080;
	background-color: #00ee00;
}

#tutorialPreviewBack {
	position: absolute;
}

#tutorialPreviewReset,
#tutorialPreviewDelete {
	box-sizing: border-box;
	position: relative;
	float: right;
	height: 100%;
	padding: 1vh 1vh 1vh 0;
}

#tutorialPreviewBack,
#tutorialPreviewReset,
#tutorialPreviewDelete {
	height: 100%;
	opacity: 0.3;
	cursor: pointer;
}

#tutorialPreviewBack:hover,
#tutorialPreviewReset:hover,
#tutorialPreviewDelete:hover {
	opacity: 0.8;
}

#tutorialPreviewTitle {
	box-sizing: border-box;
	display: inline-block;
	left: 5vh;
	top: 7vh;
	width: 50%;
	padding: 8vh 2vh 0 2vh;
	margin: 0;
	text-align: center;
	font-size: 3.5vh;
}

#tutorialPreviewDescription {
	box-sizing: border-box;
	position: absolute;
	width: 50%;
	padding: 2.5vh;
	margin: 0;
	font-size: 2vh;
	text-indent: 3vh;
}

#tutorialPreviewContainerRight {
	position: absolute;
	right: 0;
	top: 5vh;
	width: 50%;
}

#tutorialPreviewImage {
	box-sizing: border-box;
	position: relative;
	top: 2vh;
	width: calc(100% - 6vh);
	height: 25vh;
	margin: 2vh 1vh 0 1vh;
	padding: 1vh;
	border-left: 0.5vh solid #cccccc;
	border-right: 0.5vh solid #555555;
	border-top: 0.5vh solid #aaaaaa;
	border-bottom: 0.5vh solid #777777;
	object-fit: contain;
	image-rendering: crisp-edges;
}

#tutorialOpenButtonLink>button {
	position: relative;
	width: 30vh;
	height: 4vh;
	border: 0.1vh solid #444444;
	border-radius: 0.5vh;
	margin-left: calc(50% - 17vh);
	margin-top: 7vh;
	vertical-align: middle;
	font-size: 1.6vh;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
	background-color: #22ee22;
	cursor: pointer;
}

#tutorialOpenButtonLink>button:active {
	background-color: #00ee00;
}

#tutorialOpenButtonLink>button:disabled {
	border: 0.1vh solid #000000;
	background-color: #999999;
	cursor: not-allowed;
}

#tutorialOpenButtonLink>button>img {
	height: 2vh;
	padding-left: 0.5vh;
	vertical-align: middle;
}

#tutorialPreviewRelatedLinks {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 2vh;
	border-top: 0.2vh solid #808080;
}

#tutorialPreviewRelatedLinks>h1 {
	text-align: center;
	font-size: 2vh;
	padding-bottom: 1vh;
	margin: 0;
}

#tutorialPreviewRelatedLinks>a {
	display: block;
	text-align: center;
	font-size: 1.5vh;
}

#tutorialsContainerOuter {
	position: absolute;
	left: 50%;
	width: auto;
	height: auto;
	background-color: #000000;
}

#tutorialsContainerInner {
	position: absolute;
	width: 0;
	height: 0;
}

.tutorialOpenButton {
	background-color: #000000;
}

.tutorialContainer {
	box-sizing: border-box;
	position: absolute;
	transform: translateX(-50%);
	width: 20vh;
	height: 26vh;
	border: 0.5vh solid #999999;
	margin: 5vh;
	border-radius: 1.5vh;
	background-color: #eeeeee;
	cursor: pointer;
}

.tutorialContainer:active {
	background-color: #e5e5e5;
}

#tutorialSpacer {
	position: absolute;
	width: 24vh;
	height: 40vh;
}

.difficultyBar {
	position: absolute;
	left: -0.5vh;
	top: -0.5vh;
	z-index: 1;
	width: 100%;
	height: 1.5vh;
	border-left: 0.5vh solid #999999;
	border-right: 0.5vh solid #999999;
	border-top: 0.5vh solid #999999;
	border-bottom: 0.2vh solid #999999;
	border-radius: 1.5vh 1.5vh 0 0;
	background-color: #00df00;
}

.tutorialMask {
	position: absolute;
	left: -0.5vh;
	top: -0.5vh;
	z-index: 1;
	width: 20vh;
	height: 26vh;
	border-radius: 1.5vh;
	background-color: #00000055;
}

.tutorialContainer>img {
	box-sizing: border-box;
	width: 19vh;
	height: 10vh;
	padding: 1vh;
	margin-top: 2vh;
	object-fit: contain;
	object-position: center;
}

.tutorialContainer>h1 {
	text-align: center;
	padding-top: 1.5vh;
	border-top: 0.3vh solid #999999;
	margin: 0 1vh 0 1vh;
	font-size: 1.8vh;
	color: #000000;
}

.tutorialContainer>p {
	position: relative;
	text-align: center;
	font-size: 1.5vh;
	color: #000000;
}

#editorHeader {
	height: 10vh;
	padding-left: 4vw;
	padding-top: 4vh;
}

#editorHeader>h1 {
	display: inline;
	padding-left: 2vw;
	margin: 0;
	font-size: 6vh;
}

#newProjectButton {
	position: absolute;
	top: 5vh;
	width: 6vh;
	height: 6vh;
	padding: 0;
	margin-left: 4vh;
	border: 0.1vh solid #595959;
	font-size: 5.2vh;
	cursor: pointer;
}

#newProjectButton:active {
	background-color: #cccccc;
}

#projectsContainer {
	padding: 1vh 2vw 0 2vw;
	margin-left: 6vw;
	margin-right: 6vw;
	border-top: 0.3vh solid #cccccc;
}

.project {
	position: relative;
	height: fit-content;
	padding: 1vh 2vh 1vh 0;
	cursor: pointer;
}

.project:hover {
	background-color: #cccccc;
}

.project>p {
	display: inline;
	padding: 2vh 0 2vh 4vh;
	margin: 0;
	font-size: 4vh;
	overflow: hidden;
	white-space: nowrap;
}

.project>img {
	position: absolute;
	top: 0;
	height: 4vh;
	padding: 1.5vh 1vh 2.5vh 0;
	opacity: 0.5;
}

.project>img:nth-child(2) {
	right: 0;
}

.project>img:nth-child(3) {
	right: 5vh;
}

.project>img:hover {
	opacity: 1;
}