#header {
	position: fixed;
	width: 100%;
	height: 9vh;
	top: 0;
	z-index: 1;
	border-bottom: #595959 0.7vh solid;
	background-color: #00ee00;
}

#logo {
	float: left;
	height: 7vh;
	padding: 1vh;
}

#saveIcon {
	float: right;
	height: 5vh;
	border: 0.5vh solid #595959;
	border-radius: 1vh;
	margin: 1.5vh;
	opacity: 1;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#saveIcon:hover {
	background-color: #ffffff77;
	cursor: pointer;
}

#headerText {
	vertical-align: middle;
	padding-left: 10vh;
	font-size: 3vh;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.container {
	position: absolute;
	top: 9.7vh;
	height: 90.3vh;
	background-color: #eeeeee;
	overflow: hidden;
}

#panelContainer {
	left: 0;
	width: 19vw;
}

#editorContainer {
	right: 0;
	width: 80vw;
}

#containersSeparator {
	z-index: 1;
	left: 19vw;
	width: 1vw;
	box-sizing: border-box;
	border-left: 0.07vw solid #cccccc;
	border-right: 0.07vw solid #cccccc;
	cursor: ew-resize;
}

#containersSeparator>div {
	position: absolute;
	left: 0.26vw;
	top: 20vh;
	width: 0.3vw;
	height: 60vh;
	border-radius: 0.15vw;
	background-color: #dddddd;
}

#containersSeparator:hover>div {
	background-color: #595959;
}

#panelTabContainer {
	text-align: center;
	width: 100%;
	height: 4vh;
	font-size: 1.5vh;
	border-bottom: 0.07vw solid #cccccc;
	table-layout: fixed;
}

.panelTab {
	overflow: hidden;
	cursor: pointer;
}

.panelTab:hover {
	background-color: #cccccc !important;
}

#panelContentContainer {
	position: absolute;
	top: 4vh;
	width: 100%;
	height: 86.3vh;
	background-color: #eeeeee;
}

.panelContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fffffe;
}

#runCode {
	position: absolute;
	left: calc(50% - 3vw);
	top: 3vh;
	width: 8vh;
	height: 3vh;
	border: 1px solid #595959;
	border-radius: 1.5vh;
	background-color: #cccccc;
	font-size: 1.7vh;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

#filesContainerOuter {
	position: absolute;
	left: 0;
	top: 7vh;
	width: 100%;
	height: 79.3vh;
	padding-left: 1vw;
	padding-right: 1vw;
	box-sizing: border-box;
}

#filesContainerOuter>p {
	width: fit-content;
	font-size: 2.4vh;
}

.newItemButton {
	position: absolute;
	top: 2.5vh;
	height: 2.5vh;
	background-color: #fffffe;
	cursor: pointer;
}

.newItemButton:hover {
	opacity: 60%;
}

#newFileButton {
	right: 0vh;
	border-right: 5vh solid #fffffe;
}

#newFolderButton {
	right: 0;
	border-right: 2vh solid #fffffe;
}

#filesContainerInner {
	display: grid;
	position: absolute;
	width: calc(100% - 2vw);
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-top: 0.07vw solid #cccccc;
	overflow: auto;
}

.file {
	text-indent: 1vh;
	height: 3vh;
	cursor: pointer;
}

.file:hover {
	background-color: #eeeeee;
}

.fileIcon {
	position: absolute;
	width: 3vh;
	height: 3vh;
}

.fileText {
	padding-left: 3vh;
	padding-right: 6vh;
	margin: 0.1vh 0 0 0;
	font-size: 2vh;
}

.fileOption {
	position: relative;
	top: -2.6vh;
	float: right;
	margin: 0.4vh 1vh 0 0;
	height: 2vh;
	opacity: 0.05;
}

.fileDelete:hover {
	opacity: 0.8;
}

.fileRename:hover {
	opacity: 1;
}

#editorTabContainer {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 4vh;
	border-bottom: 0.07vw solid #cccccc;
}

#codeContainer {
	position: absolute;
	top: 4vh;
	width: 100%;
	height: calc(100% - 8vh);
	padding-top: 1vh;
	background-color: #ffffff;
}

#fileInfoContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3vh;
	border-top: 0.07vw solid #cccccc;
}

#fileOptionEncodingContainer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: fit-content;
	height: 100%;
	padding: 0 1.5vh 0 1.5vh;
	line-height: 3vh;
	font-size: 1.7vh;
	text-align: center;
	background-color: #eeeeee;
}

#fileOptionEncodingContainer:hover {
	background-color: #cccccc;
}

/* tutorial specific */

pre[data-lang] {
	min-width: fit-content;
	max-height: 15vh;
	padding: 1.5vh;
	border-radius: 1vh;
	font-size: 2vh;
	text-align: left;
	overflow-y: auto;
	background-color: #eeeeee;
}

#tutorialMask {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: #00000000;
}

#tutorialPanelContent {
	overflow: auto;
	text-align: center;
}

#revertFileSystemButton {
	position: relative;
	top: 2vh;
	padding: 1vh;
	border: 0.1vh solid #eeeeee;
	border-radius: 1vh;
	font-size: 2vh;
	white-space: nowrap;
	background-color: #ffffff;
	cursor: pointer;
}

#tutorialPanelText {
	position: absolute;
	left: 0;
	top: 8.5vh;
	width: 100%;
	padding: 1vh;
	border-top: 0.2vh solid #eeeeee;
	box-sizing: border-box;
	text-align: center;
}

#revertFileSystemButton:hover {
	border: 0.2vh solid #dddddd;
	background-color: #eeeeee;
}

.tutorialHighlighter {
	position: fixed;
	z-index: 5;
	box-shadow: 0 0 0 9999px #00000077;
}

.tutorialButton {
	display: none;
	position: absolute;
	font-size: 5vh;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 6;
	background-color: #55ee55;
	cursor: pointer;
}

.tutorialButton:hover {
	background-color: #11ee11;
	box-shadow: 0 0 10vh 1vh #dddddd;
}

#tutorialStartButton {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20vh;
	height: 10vh;
}

#tutorialNextButton {
	right: 5vh;
	bottom: 5vh;
	width: 15vh;
	height: 7vh;
}

.tutorialPopup {
	position: fixed;
	left: 50%;
	bottom: 5vh;
	z-index: 6;
	transform: translate(-50%);
	width: fit-content;
	min-width: 16vw;
	max-width: 60vw;
	padding: 2vh 2vw 0 2vw;
	border-radius: 2vh;
	background-color: #fffffe;
	text-align: center;
	box-shadow: 0 0 10vh 0.1vh #bbbbbb;
}

.tutorialPopupHeader {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3vh;
	border-bottom: 0.3vh solid #595959;
	border-top-left-radius: 2vh;
	border-top-right-radius: 2vh;
	background-color: #00ee00;
}

.tutorialPopupText {
	font-size: 3vh;
	word-wrap: break-word;
}


@keyframes fade {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.8;
	}
}